/* Header */

nav.nav_menu.active {
    width: 50%;
    margin-left: 50%;
    top: 5.9rem;
}

/* Home */

.image_home {
    max-width: 50rem;
}

.container_text-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home_text-1 {
    margin-right: 1rem;
    font-size: 2.4rem;
}

.home_text-2 {
    font-size: 3.6rem;
}

/* Sobre mi */

.sobreMi {
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_content-sobreMi {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_texto-sobreMi {
    padding: 4rem;
}

.title_sobreMi {
    font-size: 3rem;
}

.texto_sobreMi {
    font-size: 1.8rem;
    line-height: 2.5rem;
}

.container_image-sobreMi {
    width: 65%;
    margin-top: 2rem;
}

/* Habilidades */

.cards_container--habilidades {
    column-gap: 4rem;
}

.contenido .seccion-titulo{
    display: block;
    text-align: center;
    color: var(--white);
    font-family: 'Cooper Hewitt';
    font-size: 2.4rem;
    letter-spacing: .1rem;
    padding: 8rem 0 8rem 0;
    
} 
.container h1{
    display: block;
    text-align: center;
    color: rgb(216, 38, 38);
    font-family: 'Cooper Hewitt';
    font-size: 5.4rem;
    font-weight: 800;
    margin-top: -180px;
    
}   
/* Formación */

.contenido .seccion-titulo{
    margin-top: 30px;
}
.cards_container--formacion {
    flex-wrap: wrap;
    flex-direction: row;
}

.cards--formacion {
    margin: 0 2rem 3rem 2rem;
}
.contenido .carousel {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
   margin-top: -90px;
   margin-bottom: -90px;
   width: 700px;
  height: 480px;
  }
.carousel-item {
    height: 650px;
    
  }


/* Proyectos */




/* Contacto */
.contacto {
    background-color: var(--eerie-black);
    width: 100%;
    height: auto;
    padding: 8rem 2rem 5rem 2rem;
}
.container--contacto {
    margin: 0 auto;
    width: 80%;
}